---
- name: update homeserver
  hosts: arch-test-server
  remote_user: server

  tasks:
    - name: Ensure all packages are updated
      community.general.pacman:
        update_cache: true
        upgrade: true
      become: yes
      tags: update